.container {
  width: 80%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  position: relative;
}

.header h2 {
  font-size: 1rem;
  margin: 2rem 1rem;
}

.details {
  position: absolute;
  right: 0;
  width: 35%;
  height: 100%;
  background: rgba(79, 79, 79, 0.823);
  padding: 1rem 2rem;
  overflow-y: scroll;
}

.details::-webkit-scrollbar {
  width: 2px;
}

.details::-webkit-scrollbar-track {
  background-color: rgb(79, 79, 79);
}

.details::-webkit-scrollbar-thumb {
  background-color: rgb(237, 237, 237);
}

form {
  width: 100%;
  display: flex;
}

form input {
  width: 80%;
  background: transparent;
  height: 3rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.467);
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.624);
  outline: none;
}

form .search-error {
  border-bottom: 2px solid red;
}

.search-icon {
  width: 64px;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(215, 118, 10);
  padding: 0.5rem;
  cursor: pointer;
}

.search-icon:hover {
  background: rgb(179, 115, 41);
}

.search-results {
  list-style-type: none;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.624);
}

.search-results li {
  padding: 1rem 0.5rem;
  color: rgba(255, 255, 255, 0.467);
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

.search-results li:hover {
  background: rgba(79, 79, 79);
  border-radius: 10px;
  cursor: pointer;
}

.weather-details {
  margin: 2rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.624);
}

.weather-details__title {
  font-size: 1rem;
  letter-spacing: 1px;
}

.weather-details ul {
  list-style: none;
  margin-top: 2rem;
}

.weather-details li {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: 0.7rem 0;
  color: rgba(255, 255, 255, 0.796);
  transition: all 0.3s ease;
}

.weather-info {
  width: 70%;
  display: flex;
  column-gap: 1.5rem;
  flex-wrap: wrap;
  margin: 2rem;
  align-items: end;
}

.temp {
  font-size: 5rem;
  margin-bottom: -0.5rem;
}

.city {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.city_name {
  font-size: 2.5rem;
  display: inline-block;
  width: 100%;
}

.city_date-time {
  font-size: 0.9rem;
}

.weather-icon img {
  width: 40%;
}

.weather-icon span {
  margin-top: -1rem;
}

.version {
  position: absolute;
  left: 50%;
  bottom: 1%;
  border-bottom: 1px solid;
  font-size: 0.85rem;
  width: fit-content;
}

@media (max-width: 534px) {
  .header {
    margin: 1rem;
    flex-direction: column;
    height: 5.6rem;
  }
  .header input {
    position: relative;
  }
  .header img {
    top: 8%;
    right: 3%;
  }
  .weather-info {
    width: 17rem;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
    left: 15%;
    top: 30%;
  }
  .temp {
    font-size: 3rem;
  }
  .city {
    align-self: flex-start;
  }
  .city_name {
    font-size: 2rem;
  }
  .weather-icon {
    align-self: flex-start;
  }
  .version {
    right: 0;
    left: 50%;
    display: inline-table;
    transform: translate(-50%, 50%);
  }
}

/* break points: 969px, */
