.container {
  width: 80%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  position: relative;
}

.header h2 {
  font-size: 1rem;
  margin: 2rem 1rem;
}

/* .header form {
  position: relative;
  width: 17rem;
}

.header input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem;
}

.header img {
  width: 30px;
  position: absolute;
  right: 6px;
  top: 3px;
  background: rgb(252, 252, 252);
  cursor: pointer;
}

.search-results {
  position: absolute;
  display: none;
  right: 6px;
  top: 2.3rem;
  list-style-type: none;
  background: white;
  width: 12.5rem;
  height: 10rem;
  overflow: hidden;
  color: rgb(41, 40, 40);
}

.search-results li {
  padding: 0.5rem;
}

.search-results li:not(:last-of-type) {
  border-bottom: 1px solid;
}

.search-results li a {
  display: block;
  text-decoration: none;
}

.search-results li a:hover {
  background: darkgray;
} */

.weather-info {
  display: flex;
  column-gap: 1.5rem;
  flex-wrap: wrap;
  margin: 2rem;
  align-items: end;
}

.temp {
  font-size: 4rem;
  margin-bottom: -0.5rem;
}

.city {
  /* align-self: end; */
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.city sup {
  font-size: 0.8rem;
}

.city span {
  font-size: 0.8rem;
}
/* span {
  display: block;
} */

/* .city_name {
  font-size: 1.5rem;
} */

/* .city_name sup {
  font-size: 1.5rem;
}

.city_date-time {
  padding-top: 0.2rem;
}

.weather-icon {
  align-self: end;
} */

.weather-icon img {
  width: 40%;
  /* animation: rotate 10s linear infinite; */
}

.weather-icon span {
  /* font-weight: bold; */
  margin-top: -1rem;
}

.version {
  position: absolute;
  left: 50%;
  bottom: 1%;
  border-bottom: 1px solid;
  font-size: 0.85rem;
  width: fit-content;
}

@media (max-width: 534px) {
  .header {
    margin: 1rem;
    flex-direction: column;
    height: 5.6rem;
  }
  .header input {
    position: relative;
  }
  .header img {
    top: 8%;
    right: 3%;
  }
  .weather-info {
    width: 17rem;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
    left: 15%;
    top: 30%;
  }
  .temp {
    font-size: 3rem;
  }
  .city {
    align-self: flex-start;
  }
  .city_name {
    font-size: 2rem;
  }
  .weather-icon {
    align-self: flex-start;
  }
  .version {
    right: 0;
    left: 50%;
    display: inline-table;
    transform: translate(-50%, 50%);
  }
}
