@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(
      to right,
      rgba(39, 39, 39, 0.5),
      rgba(133, 133, 133, 0.5)
    ),
    url("./images/weather-bg2.jpg") center/cover no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
